@model IList<GalaxyStorm.ViewModels.Info.InfoLeaderboardsViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    {
        var mdel = Model[i];

        <div class="row">
            <div class="col-md-1">@(i+1)</div>
            <div class="col-md-5">@mdel.DisplayName</div>
            @if (ViewBag.PointsBy == "Combat")
            {
                <div class="col-md-3">@mdel.CombatPoints pts</div>
            }
            else if (ViewBag.PointsBy == "Neutral")
            {
                <div class="col-md-3">@mdel.NeutralPoints pts</div>
            }
            else
            {
                <div class="col-md-3">@mdel.PlanetPoints pts</div>
            }
            <div class="col-md-3">@mdel.ShardName</div>
        </div>
    }
}
