@model GalaxyStorm.ViewModels.Fleet.FleetViewModel

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.Scout.Name, "Scout", "Fleet", new { area = "Planet" }, null)
                </h6>
            </div>
            <div class="panel-body text-center">
                <img src="~/Images/100xX/scout.png" alt="scout" class="small-img-100" />
                <hr />
                <div class="required-resources">
                    <br/>
                    <div class="col-md-12">
                        <div id="slider1"></div>
                    </div>
                    <br/>
                    <i class="ion-ios-sunny-outline text-info"> </i> <span class="required-energy" data-req="@Model.Scout.RequiredEnergy">@Model.Scout.RequiredEnergy</span>&nbsp;

                    <i class="ion-ios-flower-outline text-warning"> </i> <span class="required-crystals" data-req="@Model.Scout.RequiredCrystals">@Model.Scout.RequiredCrystals</span>&nbsp;

                    <i class="ion-ios-cog-outline text-primary"> </i> <span class="required-metal" data-req="@Model.Scout.RequiredMetal">@Model.Scout.RequiredMetal</span>
                    <br/>
                    <i class="ion-ios-timer-outline"> </i> <span class="required-time" data-req="@Model.Scout.BuildTime">@Model.Scout.BuildTime</span> mins.
                </div>
                <hr />
                @Html.ActionLink("Recruit", "Scout", "Fleet", new { area = "Planet" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        function repositionTooltip(e, ui) {
            var div = $(ui.handle).data("bs.tooltip").$tip[0];
            var pos = $.extend({}, $(ui.handle).offset(), {
                width: $(ui.handle).get(0).offsetWidth,
                height: $(ui.handle).get(0).offsetHeight
            });

            var actualWidth = div.offsetWidth;

            tp = { left: pos.left + pos.width / 2 - actualWidth / 2 }
            $(div).offset(tp);

            $(div).find(".tooltip-inner").text(ui.value);
        }

        function recalculateRequiredResources(e, ui) {
            var value = +ui.value || 0;
            var div = $(ui.handle).closest('.required-resources');
            var reqEnergy = $(div.find('.required-energy')[0]);
            var reqCrystals = $(div.find('.required-crystals')[0]);
            var reqMetal = $(div.find('.required-metal')[0]);
            var reqTime = $(div.find('.required-time')[0]);

            reqEnergy.text(+reqEnergy.attr("data-req") * value);
            reqCrystals.text(+reqCrystals.attr("data-req") * value);
            reqMetal.text(+reqMetal.attr("data-req") * value);
            reqTime.text((+reqTime.attr("data-req") * value).toFixed(2));
        }

        @{
            var timesEnergy = (int) (ViewBag.Energy/Model.Scout.RequiredEnergy);
            var timesCrystals = (int) (ViewBag.Crystal/Model.Scout.RequiredCrystals);
            var timesMetal = (int) (ViewBag.Metal/Model.Scout.RequiredMetal);

            var mostScouts = timesEnergy < timesCrystals && timesEnergy < timesMetal ? timesEnergy
                : timesCrystals < timesEnergy && timesCrystals < timesMetal ? timesCrystals : timesMetal;
        }
        $("#slider1").slider({
            min: 0,
            max: @mostScouts || 0,
            slide: function (e, ui) {
                repositionTooltip(e, ui);
                // recalculateRequiredResources(e, ui);
            },
            stop: function (e, ui) {
                repositionTooltip(e, ui);
                recalculateRequiredResources(e, ui);
            }
        });
        $("#slider1 .ui-slider-handle:first").tooltip({ title: $("#slider1").slider("value") || "0", trigger: "manual" }).tooltip("show");

    });

</script>