<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - Galaxy Storm - the Game</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/public")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_NavbarPartial")

    <!-- loader -->
    <div id="site-loader">
        <div class="loader"></div>
    </div>
    <!-- loader -->

    <div id="site-wrap">

        <div id="bg">
            <div id="img"></div>
            <div id="overlay"></div>
        </div>

        <div class="container body-content">
            <div class="row">
                <div class="col-md-3 nav-side-menu">
                    <div class="brand">Galaxy Storm (logo)</div>
                    <i class="ion-navicon toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                    <div class="menu-list">

                        <ul id="menu-content" class="menu-content collapse out">
                            <li class="active">
                                <a href="/Planet/Preview">
                                    <i class="ion-ios-world size-18"></i> Overview
                                </a>
                            </li>

                            <li data-toggle="collapse" data-target="#buildings" class="collapsed">
                                <a href="#"><i class="ion-hammer size-18"> </i> Build <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="buildings">
                                <li class="active"><a href="/Planet/Buildings"> Overview</a></li>
                                <li><a href="/Planet/Buildings/Headquarters"><i class="ion-home size-18"> </i> Headquarters</a></li>
                                <li><a href="/Planet/Buildings/SolarCollector"><i class="ion-ios-sunny-outline size-18"> </i> Solar Collector</a></li>
                                <li><a href="/Planet/Buildings/CrystalExtractor"><i class="ion-ios-flower-outline size-18"> </i> Crystal Extractor</a></li>
                                <li><a href="/Planet/Buildings/MetalScrapper"><i class="ion-ios-cog-outline size-18"> </i> Metal Scrapper</a></li>
                                <li><a href="/Planet/Buildings/ResearchCentre"><i class="ion-ios-flask size-18"> </i> Research Centre</a></li>
                                <li><a href="/Planet/Buildings/Barracks"><i class="ion-jet size-18"> </i> Barracks</a></li>
                            </ul>

                            <li data-toggle="collapse" data-target="#research" class="collapsed">
                                <a href="#"><i class="ion-ios-flask size-18"> </i> Research <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="research">
                                <li class="active"><a href="/Planet/Technologies">Overview</a></li>
                                <li><a href="/Planet/Technologies/MoreResources"><i class="ion-hammer size-18"> </i> More Resources</a></li>
                                <li><a href="/Planet/Technologies/FasterConstruction"><i class="ion-hammer size-18"> </i> Faster Construction</a></li>
                                <li><a href="/Planet/Technologies/ArmoredFleet"><i class="ion-jet size-18"> </i> Armored Fleet</a></li>
                                <li><a href="/Planet/Technologies/LargerFleet"><i class="ion-jet size-18"> </i> Larger Fleet</a></li>
                                <li><a href="/Planet/Technologies/CheaperFleet"><i class="ion-jet size-18"> </i> Cheaper Fleet</a></li>
                            </ul>

                            <li data-toggle="collapse" data-target="#new" class="collapsed">
                                <a href="#"><i class="ion-jet size-18"></i> Recruit <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new">
                                <li class="active"><a href="/Planet/Fleet">Overview</a></li>
                                <li><a href="#">Dispatched Units</a></li>
                                <li><a href="#">Stationed Units</a></li>
                            </ul>

                            <li>
                                <a href="#">
                                    <i class="ion-wrench size-18"> </i> Profile
                                </a>
                            </li>

                            @if (User.IsInRole("Admiral"))
                            {
                                <li data-toggle="collapse" data-target="#admiral" class="collapsed">
                                    <a href="#"><i class="ion-settings size-18"> </i> Admiral's Quarters <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="admiral">
                                    <li><a href="#"><i class="ion-settings size-18"> </i> Quarters</a></li>
                                    <li><a href="#"><i class="ion-ios-people size-18"> </i> Manage Users</a></li>
                                    <li><a href="#"><i class="ion-ionic size-18"> </i> Manage Shards</a></li>
                                    <li><a href="#"><i class="ion-speakerphone size-18"> </i> Broadcast</a></li>
                                    <li><a href="#"><i class="ion-paper-airplane size-18"> </i> Send Supplements</a></li>
                                </ul>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div>
                        @if (TempData["Error"] != null)
                        {
                            <div class="panel panel-danger">
                                <div class="panel-heading text-center">@TempData["Error"]</div>
                            </div>
                        }
                        @if (TempData["Info"] != null)
                        {
                            <div class="panel panel-info">
                                <div class="panel-heading panel-info">@TempData["Info"]</div>
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">@TempData["Success"]</div>
                            </div>
                        }
                    </div>

                    @RenderBody()
                </div>
            </div>

            <footer>
                <hr />
                <p class="text-center">Peter Kanev &copy; @DateTime.Now.Year - Galaxy Storm - the Game</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>