@model GalaxyStorm.ViewModels.Technologies.TechnologiesViewModel
           
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.ArmoredFleet.Name, "ArmoredFleet", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.ArmoredFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center">
                @if (@Model.CurrentlyResearching == "ArmoredFleet")
                {
                    <p class="text-center">Ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width: @Model.PercentsResearched%"></div>
                        </div>
                    </p>
                }
                else
                {
                    if (@Model.ArmoredFleet.Level > 0)
                    {
                        <p>Level @Model.ArmoredFleet.Level</p>
                    }
                    else
                    {
                        <p>Requires Research Centre Level @Model.ArmoredFleet.Prerequisite</p>
                    }
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width: @((Model.ArmoredFleet.Level / (double)Model.ArmoredFleet.MaxLevel) * 100)%;"></div>
                        </div>
                    </p>
                }
                @Html.ActionLink("Details", "ArmoredFleet", "Technologies", new { area = "Planet" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.CheaperFleet.Name, "CheaperFleet", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.CheaperFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center">
                @if (@Model.CurrentlyResearching == "CheaperFleet")
                {
                    <p class="text-center">Ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width: @Model.PercentsResearched%"></div>
                        </div>
                    </p>
                }
                else
                {
                    if (@Model.CheaperFleet.Level > 0)
                    {
                        <p>Level @Model.CheaperFleet.Level</p>
                    }
                    else
                    {
                        <p>Requires Research Centre Level @Model.CheaperFleet.Prerequisite</p>
                    }
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width: @((Model.CheaperFleet.Level / (double)Model.CheaperFleet.MaxLevel) * 100)%;"></div>
                        </div>
                    </p>
                }
                @Html.ActionLink("Details", "CheaperFleet", "Technologies", new { area = "Planet" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.LargerFleet.Name, "LargerFleet", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.LargerFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center">
                @if (@Model.CurrentlyResearching == "LargerFleet")
                {
                    <p class="text-center">Ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width: @Model.PercentsResearched%"></div>
                        </div>
                    </p>
                }
                else
                {
                    if (@Model.LargerFleet.Level > 0)
                    {
                        <p>Level @Model.LargerFleet.Level</p>
                    }
                    else
                    {
                        <p>Requires Requires Centre Level @Model.LargerFleet.Prerequisite</p>
                    }
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width: @((Model.LargerFleet.Level / (double)Model.LargerFleet.MaxLevel) * 100)%;"></div>
                        </div>
                    </p>
                }
                @Html.ActionLink("Details", "LargerFleet", "Technologies", new { area = "Planet" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.FasterConstruction.Name, "FasterConstruction", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.LargerFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center">
                @if (@Model.CurrentlyResearching == "FasterConstruction")
                {
                    <p class="text-center">Ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width: @Model.PercentsResearched%"></div>
                        </div>
                    </p>
                }
                else
                {
                    if (@Model.FasterConstruction.Level > 0)
                    {
                        <p>Level @Model.FasterConstruction.Level</p>
                    }
                    else
                    {
                        <p>Requires Research Centre Level @Model.FasterConstruction.Prerequisite</p>
                    }
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width: @((Model.FasterConstruction.Level / (double)Model.FasterConstruction.MaxLevel) * 100)%;"></div>
                        </div>
                    </p>
                }
                @Html.ActionLink("Details", "FasterConstruction", "Technologies", new { area = "Planet" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.MoreResources.Name, "MoreResources", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.MoreResources.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center">
                @if (@Model.CurrentlyResearching == "MoreResources")
                {
                    <p class="text-center">Ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width: @Model.PercentsResearched%"></div>
                        </div>
                    </p>
                }
                else
                {
                    if (@Model.MoreResources.Level > 0)
                    {
                        <p>Level @Model.MoreResources.Level</p>
                    }
                    else
                    {
                        <p>Requires Research Centre Level @Model.MoreResources.Prerequisite</p>
                    }
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width: @((Model.MoreResources.Level / (double)Model.MoreResources.MaxLevel) * 100)%;"></div>
                        </div>
                    </p>
                }
                @Html.ActionLink("Details", "MoreResources", "Technologies", new { area = "Planet" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

