@model GalaxyStorm.ViewModels.Technologies.TechnologiesViewModel

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.ArmoredFleet.Name, "Index", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.ArmoredFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center tech-panel">
                @if (@Model.ResearchCentreLevel < @Model.ArmoredFleet.Prerequisite)
                {
                    <p>Requires Research Centre Level @Model.ArmoredFleet.Prerequisite</p>
                }
                else
                {
                    if (Model.ArmoredFleet.Level != Model.ArmoredFleet.MaxLevel)
                    {

                        @Html.DisplayFor(m => m.ArmoredFleet, "TechButtons")
                        <br />
                        if (Model.CurrentlyResearching == "ArmoredFleet")
                        {
                            <span>Researching:</span>
                            <hr />
                            <p class="text-center">
                                <strong>Level @(Model.ArmoredFleet.Level + 1)</strong> ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!
                            </p>
                            <p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" style="width: @Model.PercentsResearched%"></div>
                                </div>
                            </p>
                        }
                        else
                        {
                            <p>
                                Required Resources (Level @(Model.ArmoredFleet.Level + 1)):
                                <i class="ion-ios-sunny-outline size-18 text-info"> </i> @Model.ArmoredFleet.RequiredEnergy&nbsp;
                                <i class="ion-ios-flower-outline size-18 text-warning"> </i> @Model.ArmoredFleet.RequiredCrystals&nbsp;
                                <i class="ion-ios-cog-outline size-18 text-primary"> </i> @Model.ArmoredFleet.RequiredMetal
                            </p>
                            if (Model.CurrentlyResearching != "None")
                            {
                                <p class="text-center text-danger">Another research is in progress ...</p>
                            }
                            else
                            {
                                if (ViewBag.Energy < @Model.ArmoredFleet.RequiredEnergy
                                    || ViewBag.Crystal < @Model.ArmoredFleet.RequiredCrystals
                                    || ViewBag.Metal < @Model.ArmoredFleet.RequiredMetal)
                                {
                                    <p class="text-center text-danger">Not enough resources to research this tech!</p>
                                }
                                else
                                {
                                    using (Html.BeginForm("UpgradeArmoredFleet", "Technologies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-default text-center">
                                            Research
                                        </button>
                                    }
                                }

                                <p>
                                    Raw research time: <i class="ion-ios-timer-outline size-18"> </i> @Model.ArmoredFleet.RequiredResearchTime min.
                                </p>
                            }
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 tech-level-button">
                                <button class="btn btn-block btn-success">
                                    <h5>
                                        <i class="ion-jet"> </i>
                                        <br />
                                        + @Model.ArmoredFleet.Modifiers[Model.ArmoredFleet.Level]%
                                    </h5>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.CheaperFleet.Name, "Index", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.CheaperFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center tech-panel">
                @if (@Model.ResearchCentreLevel < @Model.CheaperFleet.Prerequisite)
                {
                    <p>Requires Research Centre Level @Model.CheaperFleet.Prerequisite</p>
                }
                else
                {
                    if (Model.CheaperFleet.Level != Model.CheaperFleet.MaxLevel)
                    {

                        @Html.DisplayFor(m => m.CheaperFleet, "TechButtons")
                        <br />
                        if (Model.CurrentlyResearching == "CheaperFleet")
                        {
                            <span>Researching:</span>
                            <hr />
                            <p class="text-center">
                                <strong>Level @(Model.CheaperFleet.Level + 1)</strong> ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!
                            </p>
                            <p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" style="width: @Model.PercentsResearched%"></div>
                                </div>
                            </p>
                        }
                        else
                        {
                            <p>
                                Required Resources (Level @(Model.CheaperFleet.Level + 1)):
                                <i class="ion-ios-sunny-outline size-18 text-info"> </i> @Model.CheaperFleet.RequiredEnergy&nbsp;
                                <i class="ion-ios-flower-outline size-18 text-warning"> </i> @Model.CheaperFleet.RequiredCrystals&nbsp;
                                <i class="ion-ios-cog-outline size-18 text-primary"> </i> @Model.CheaperFleet.RequiredMetal
                            </p>
                            if (Model.CurrentlyResearching != "None")
                            {
                                <p class="text-center text-danger">Another research is in progress ...</p>
                            }
                            else
                            {
                                if (ViewBag.Energy < @Model.CheaperFleet.RequiredEnergy
                                    || ViewBag.Crystal < @Model.CheaperFleet.RequiredCrystals
                                    || ViewBag.Metal < @Model.CheaperFleet.RequiredMetal)
                                {
                                    <p class="text-center text-danger">Not enough resources to research this tech!</p>
                                }
                                else
                                {
                                    using (Html.BeginForm("UpgradeCheaperFleet", "Technologies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-default text-center">
                                            Research
                                        </button>
                                    }
                                }

                                <p>
                                    Raw research time: <i class="ion-ios-timer-outline size-18"> </i> @Model.CheaperFleet.RequiredResearchTime min.
                                </p>
                            }
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 tech-level-button">
                                <button class="btn btn-block btn-success">
                                    <h5>
                                        <i class="ion-cash"> </i>
                                        <br />
                                        + @Model.CheaperFleet.Modifiers[Model.CheaperFleet.Level]%
                                    </h5>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.LargerFleet.Name, "Index", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.LargerFleet.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center tech-panel">
                @if (@Model.ResearchCentreLevel < @Model.LargerFleet.Prerequisite)
                {
                    <p>Requires Research Centre Level @Model.LargerFleet.Prerequisite</p>
                }
                else
                {
                    if (Model.LargerFleet.Level != Model.LargerFleet.MaxLevel)
                    {

                        @Html.DisplayFor(m => m.LargerFleet, "TechButtons")
                        <br />
                        if (Model.CurrentlyResearching == "LargerFleet")
                        {
                            <span>Researching:</span>
                            <hr />
                            <p class="text-center">
                                <strong>Level @(Model.LargerFleet.Level + 1)</strong> ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!
                            </p>
                            <p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" style="width: @Model.PercentsResearched%"></div>
                                </div>
                            </p>
                        }
                        else
                        {
                            <p>
                                Required Resources (Level @(Model.LargerFleet.Level + 1)):
                                <i class="ion-ios-sunny-outline size-18 text-info"> </i> @Model.LargerFleet.RequiredEnergy&nbsp;
                                <i class="ion-ios-flower-outline size-18 text-warning"> </i> @Model.LargerFleet.RequiredCrystals&nbsp;
                                <i class="ion-ios-cog-outline size-18 text-primary"> </i> @Model.LargerFleet.RequiredMetal
                            </p>
                            if (Model.CurrentlyResearching != "None")
                            {
                                <p class="text-center text-danger">Another research is in progress ...</p>
                            }
                            else
                            {
                                if (ViewBag.Energy < @Model.LargerFleet.RequiredEnergy
                                    || ViewBag.Crystal < @Model.LargerFleet.RequiredCrystals
                                    || ViewBag.Metal < @Model.LargerFleet.RequiredMetal)
                                {
                                    <p class="text-center text-danger">Not enough resources to research this tech!</p>
                                }
                                else
                                {
                                    using (Html.BeginForm("UpgradeLargerFleet", "Technologies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-default text-center">
                                            Research
                                        </button>
                                    }
                                }

                                <p>
                                    Raw research time: <i class="ion-ios-timer-outline size-18"> </i> @Model.LargerFleet.RequiredResearchTime min.
                                </p>
                            }
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 tech-level-button">
                                <button class="btn btn-block btn-success">
                                    <h5>
                                        <i class="ion-speedometer"> </i>
                                        <br />
                                        @Model.LargerFleet.Modifiers[Model.LargerFleet.Level]
                                    </h5>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.FasterConstruction.Name, "Index", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.FasterConstruction.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center tech-panel">
                @if (@Model.ResearchCentreLevel < @Model.FasterConstruction.Prerequisite)
                {
                    <p>Requires Research Centre Level @Model.FasterConstruction.Prerequisite</p>
                }
                else
                {
                    if (Model.FasterConstruction.Level != Model.FasterConstruction.MaxLevel)
                    {

                        @Html.DisplayFor(m => m.FasterConstruction, "TechButtons")
                        <br />
                        if (Model.CurrentlyResearching == "FasterConstruction")
                        {
                            <span>Researching:</span>
                            <hr />
                            <p class="text-center">
                                <strong>Level @(Model.FasterConstruction.Level + 1)</strong> ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!
                            </p>
                            <p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" style="width: @Model.PercentsResearched%"></div>
                                </div>
                            </p>
                        }
                        else
                        {
                            <p>
                                Required Resources (Level @(Model.FasterConstruction.Level + 1)):
                                <i class="ion-ios-sunny-outline size-18 text-info"> </i> @Model.FasterConstruction.RequiredEnergy&nbsp;
                                <i class="ion-ios-flower-outline size-18 text-warning"> </i> @Model.FasterConstruction.RequiredCrystals&nbsp;
                                <i class="ion-ios-cog-outline size-18 text-primary"> </i> @Model.FasterConstruction.RequiredMetal
                            </p>
                            if (Model.CurrentlyResearching != "None")
                            {
                                <p class="text-center text-danger">Another research is in progress ...</p>
                            }
                            else
                            {
                                if (ViewBag.Energy < @Model.FasterConstruction.RequiredEnergy
                                    || ViewBag.Crystal < @Model.FasterConstruction.RequiredCrystals
                                    || ViewBag.Metal < @Model.FasterConstruction.RequiredMetal)
                                {
                                    <p class="text-center text-danger">Not enough resources to research this tech!</p>
                                }
                                else
                                {
                                    using (Html.BeginForm("UpgradeFasterConstruction", "Technologies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-default text-center">
                                            Research
                                        </button>
                                    }
                                }

                                <p>
                                    Raw research time: <i class="ion-ios-timer-outline size-18"> </i> @Model.FasterConstruction.RequiredResearchTime min.
                                </p>
                            }
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 tech-level-button">
                                <button class="btn btn-block btn-success">
                                    <h5>
                                        <i class="ion-ios-timer-outline"> </i>
                                        <br />
                                        - @Model.FasterConstruction.Modifiers[Model.FasterConstruction.Level]%
                                    </h5>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="text-center">
                    @Html.ActionLink(@Model.MoreResources.Name, "Index", "Technologies", new { area = "Planet" }, null) - <small>Level @Model.MoreResources.Level</small>
                </h6>
            </div>
            <div class="panel-body text-center tech-panel parent-vertical-middle">
                @if (@Model.ResearchCentreLevel < @Model.MoreResources.Prerequisite)
                {
                    <p>Requires Research Centre Level @Model.MoreResources.Prerequisite</p>
                }
                else
                {
                    if (Model.MoreResources.Level != Model.MoreResources.MaxLevel)
                    {
                        @Html.DisplayFor(m => m.MoreResources, "TechButtons")
                        <br />
                        if (Model.CurrentlyResearching == "MoreResources")
                        {
                            <span>Researching:</span>
                            <hr />
                            <p class="text-center">
                                <strong>Level @(Model.MoreResources.Level + 1)</strong> ready in: @string.Format("{0:0.00}", Model.MinutesLeftToResearch) minutes!
                            </p>
                            <p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" style="width: @Model.PercentsResearched%"></div>
                                </div>
                            </p>
                        }
                        else
                        {
                            <p>
                                Required Resources (Level @(Model.MoreResources.Level + 1)):
                                <i class="ion-ios-sunny-outline size-18 text-info"> </i> @Model.MoreResources.RequiredEnergy&nbsp;
                                <i class="ion-ios-flower-outline size-18 text-warning"> </i> @Model.MoreResources.RequiredCrystals&nbsp;
                                <i class="ion-ios-cog-outline size-18 text-primary"> </i> @Model.MoreResources.RequiredMetal
                            </p>
                            if (Model.CurrentlyResearching != "None")
                            {
                                <p class="text-center text-danger">Another research is in progress ...</p>
                            }
                            else
                            {
                                if (ViewBag.Energy < @Model.MoreResources.RequiredEnergy
                                    || ViewBag.Crystal < @Model.MoreResources.RequiredCrystals
                                    || ViewBag.Metal < @Model.MoreResources.RequiredMetal)
                                {
                                    <p class="text-center text-danger">Not enough resources to research this tech!</p>
                                }
                                else
                                {
                                    using (Html.BeginForm("UpgradeMoreResources", "Technologies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-default text-center">
                                            Research
                                        </button>
                                    }
                                }

                                <p>
                                    Raw research time: <i class="ion-ios-timer-outline size-18"> </i> @Model.MoreResources.RequiredResearchTime min.
                                </p>
                            }
                        }
                    }
                    else
                    {
                        <div class="row vertical-middle">
                            <div class="col-md-4 col-md-offset-4 tech-level-button">
                                <button class="btn btn-block btn-success">
                                    <h5>
                                        <i class="ion-arrow-graph-up-right"> </i>
                                        <br />
                                        + @Model.MoreResources.Modifiers[Model.MoreResources.Level]x
                                    </h5>
                                </button>
                            </div>
                        </div>
                        <br />
                        <p><strong class="text-success">Max Level Reached!</strong></p>
                        <span>@Model.MoreResources.Description</span>
                    }
                }
            </div>
        </div>
    </div>
</div>
