@using System.Collections
@using GalaxyStorm.Data.Models.PlayerObjects
@model GalaxyStorm.ViewModels.Reports.ReportInputModel

@{
    ViewBag.Title = "Broadcast";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @ViewBag.Title <small>Send messages globally</small>
        </h2>
    </div>
</div>

<div class="well">
    @using (Html.BeginForm("Broadcast", "Broadcast", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ShardName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.ShardId, new SelectList(ViewBag.Shards, "Id", "Title", 0), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Content, 10, 40, new { @class = "form-control no-max-width" })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Broadcast" class="btn btn-default" />
            </div>
        </div>
    }
</div>