@model GalaxyStorm.ViewModels.Common.SimplePlayerViewModel

@{
    ViewBag.Title = "Profile Stuff";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Player Information
        </h2>
    </div>
</div>

<div class="well">
    <div class="row text-center">
        @if (Model.NumberOfReports > 0)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span><a href="#"><i class="ion-ios-bell size-18"> </i> You have <span class="badge">@Model.NumberOfReports</span> new reports!</a></span>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><i class="ion-ios-bell-outline size-18"> </i> You have no new reports.</span>
                </div>
            </div>
        }
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <h4>Points</h4>
            <hr />
            <p data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Gained by upgrading buildings and researching new technologies.">
                <i class="ion-planet size-18"> </i>  @Model.PlanetPoints Planet points
            </p>
            <p data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Gained by recruiting new units.">
                <i class="ion-jet size-18"> </i> @Model.NeutralPoints Neutral points
            </p>
            <p data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Gained by participating in battles.">
                <i class="ion-nuclear size-18"> </i> @Model.CombatPoints Combat points
            </p>
        </div>
        <div class="col-md-6">
            <h4>Your Planet</h4>
            <hr/>
            <p><a href="#">@Model.Planet.Title (@Model.Planet.X : @Model.Planet.Y) - @Model.Planet.ShardTitle</a></p>
            <p>Modifiers</p>
            <div class="row text-center">
                <div class="col-md-4">@string.Format("{0:0.00}", Model.Planet.EnergyModifier)</div>
                <div class="col-md-4">@string.Format("{0:0.00}", Model.Planet.CrystalModifier)</div>
                <div class="col-md-4">@string.Format("{0:0.00}", Model.Planet.MetalModifier)</div>
            </div>
            <br />
            <h4>In progress</h4>
            <hr/>
        </div>
    </div>
</div>
