@{
    ViewBag.Title = "Planet Overview";
}

@model GalaxyStorm.ViewModels.Common.CompletePlayerViewModel

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Planet Overview <small>Statistics overview</small></h2>
    </div>
</div>

<div class="well">
<h4>Planet <small>Shard: @Model.Planet.ShardTitle</small></h4>
    <hr />
    <div class="row">
        <p class="text-center text-success">@Model.Planet.Title (@Model.Planet.X : @Model.Planet.Y)</p>
        <p class="text-center">
            Energy modifier: <span class="text-info">@Model.Planet.EnergyModifier</span>&nbsp;&nbsp;
            Crystals modifier: <span class="text-danger">@Model.Planet.CrystalModifier</span>&nbsp;&nbsp;
            Metal modifier: <span class="text-primary">@Model.Planet.MetalModifier</span>&nbsp;
        </p>
    </div>
    <br />
    <h4>Resources</h4>
    <hr />
    <div class="row">
        <p class="text-center">Available Energy: <i class="ion-ios-sunny-outline size-18"> </i> @Model.Resources.Energy <span class="text-success">(+@Model.Resources.EnergyPerHour/h)</span></p>
        <p class="text-center">Available Crystals: <i class="ion-ios-flower-outline size-18"> </i> @Model.Resources.Crystal <span class="text-success">(+@Model.Resources.CrystalPerHour/h)</span></p>
        <p class="text-center">Available Metal: <i class="ion-ios-cog-outline size-18"> </i> @Model.Resources.Metal <span class="text-success">(+@Model.Resources.MetalPerHour/h)</span></p>
    </div>
    <br />
    <h4>Buildings</h4>
    <hr />
    @{ Html.RenderPartial("_BuildingsPartial", @Model.Buildings); }
    <br />
    <h4>Technologies</h4>
    <hr />
    @{ Html.RenderPartial("_TechnologiesPartial", @Model.Technologies); }
    <br />
    <h4>Fleet</h4>
    <hr />
    @*@{ Html.RenderPartial("_FleetPartial", @Model.Fleet); }*@
</div>