@{
    ViewBag.Title = "Planet Overview";
}

@model GalaxyStorm.ViewModels.Common.CompletePlayerViewModel

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Planet Overview <small>Statistics overview</small></h2>
    </div>
</div>

<div class="well">
    <h4>Resources</h4>
    <hr />
    <div class="row">
        <p class="text-center">Available Energy: <i class="ion-ios-sunny-outline size-28"> </i> @Model.Resources.Energy <span class="text-success">(+@Model.Resources.EnergyPerHour/h)</span></p>
        <p class="text-center">Available Crystals: <i class="ion-ios-flower-outline size-28"> </i> @Model.Resources.Crystal <span class="text-success">(+@Model.Resources.CrystalPerHour/h)</span></p>
        <p class="text-center">Available Metal: <i class="ion-ios-cog-outline size-28"> </i> @Model.Resources.Metal <span class="text-success">(+@Model.Resources.MetalPerHour/h)</span></p>
    </div>
    <br />
    <h4>Buildings</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        @Html.ActionLink(@Model.Buildings.Headquarters.Title, "Headquarters", "Buildings", new { area = "Planet" }, null) - <small>Level @Model.Buildings.Headquarters.Level</small>
                    </h6>
                </div>
                <div class="panel-body text-center">
                    <img src="~/Images/300xX/headquarters.png" alt="HQ" class="small-img-200" />
                    <hr />
                    @if (@Model.Buildings.CurrentlyBuilding == "Headquarters")
                    {
                        <p class="text-center">Ready in: @string.Format("{0:0.00}", Model.Buildings.MinutesLeftToBuild) minutes!</p>
                        <p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: @Model.Buildings.PercentsBuilt%"></div>
                            </div>
                        </p>
                    }
                    else
                    {
                        if (@Model.Buildings.Headquarters.Level > 0)
                         {
                             <p>Level @Model.Buildings.Headquarters.Level</p>
                         }
                         else
                         {
                            <p>Not built yet! (Requires HQ Level @Model.Buildings.Headquarters.Prerequisites)</p>
                         }
                        <p>
                            <div class="progress">
                                <div class="progress-bar" style="width: @(Model.Buildings.Headquarters.Level * 10)%;"></div>
                            </div>
                        </p>
                    }
                    @Html.ActionLink("Details", "Headquarters", "Buildings", new { area = "Planet" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        @Html.ActionLink("Research Centre", "ResearchCentre", "Buildings", new { area = "Planet" }, null) - <small>Level @Model.Buildings.ResearchCentreLevel</small>
                    </h6>
                </div>
                <div class="panel-body text-center">
                    <img src="~/Images/300xX/research-centre.png" alt="RC" class="small-img-200" />
                    <hr />
                    @if (@Model.Buildings.CurrentlyBuilding == "ResearchCentre")
                    {
                        <p class="text-center">Ready in: @Model.Buildings.MinutesLeftToBuild minutes!</p>
                        <p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: @Model.Buildings.PercentsBuilt%"></div>
                            </div>
                        </p>
                    }
                    else
                    {
                        if (@Model.Buildings.ResearchCentreLevel > 0)
                        {
                            <p>Level @Model.Buildings.ResearchCentreLevel</p>
                        }
                        else
                        {
                            <p>Not built yet!</p>
                        }
                        <p>
                            <div class="progress">
                                <div class="progress-bar" style="width: @(Model.Buildings.ResearchCentreLevel * 10)%;"></div>
                            </div>
                        </p>
                    }
                    @Html.ActionLink("Details", "ResearchCentre", "Buildings", new { area = "Planet" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        @Html.ActionLink("Barracks", "Barracks", "Buildings", new { area = "Planet" }, null) - <small>Level @Model.Buildings.BarracksLevel</small>
                    </h6>
                </div>
                <div class="panel-body text-center">
                    <img src="~/Images/300xX/barracks.png" alt="Barracks" class="small-img-200" />
                    <hr />
                    @if (@Model.Buildings.CurrentlyBuilding == "Barracks")
                    {
                        <p class="text-center">Ready in: @Model.Buildings.MinutesLeftToBuild minutes!</p>
                        <p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: @Model.Buildings..PercentsBuilt%"></div>
                            </div>
                        </p>
                    }
                    else
                    {
                        if (@Model.Buildings.BarracksLevel > 0)
                        {
                            <p>Level @Model.Buildings.BarracksLevel</p>
                        }
                        else
                        {
                            <p>Not built yet!</p>
                        }
                        <p>
                            <div class="progress">
                                <div class="progress-bar" style="width: @(Model.Buildings.BarracksLevel * 10)%;"></div>
                            </div>
                        </p>
                    }
                    @Html.ActionLink("Details", "Barracks", "Buildings", new { area = "Planet" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        @Html.ActionLink("Solar Collector", "SolarCollector", "Buildings", new { area = "Planet" }, null) - <small>Level @Model.Buildings.SolarCollectorLevel</small>
                    </h6>
                </div>
                <div class="panel-body text-center">
                    <img src="~/Images/300xX/solar-collector.png" alt="Resource Building" class="small-img-200" />
                    <hr />
                    @if (@Model.Buildings.CurrentlyBuilding == "SolarCollector")
                    {
                        <p class="text-center">Ready in: @Model.Buildings.MinutesLeftToBuild minutes!</p>
                        <p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: @Model.Buildings.PercentsBuilt%"></div>
                            </div>
                        </p>
                    }
                    else
                    {
                        <p>Level @Model.Buildings.SolarCollectorLevel</p>
                        <p>
                            <div class="progress">
                                <div class="progress-bar" style="width: @(Model.Buildings.SolarCollectorLevel * 10)%;"></div>
                            </div>
                        </p>
                    }
                    @Html.ActionLink("Details", "SolarCollector", "Buildings", new { area = "Planet" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        @Html.ActionLink("Crystal Extractor", "CrystalExtractor", "Buildings", new { area = "Planet" }, null) - <small>Level @Model.Buildings.CrystalExtractorLevel</small>
                    </h6>
                </div>
                <div class="panel-body text-center">
                    <img src="~/Images/300xX/crystal-extractor.png" alt="Resource Building" class="small-img-200" />
                    <hr />
                    @if (@Model.Buildings.CurrentlyBuilding == "CrystalExtractor")
                    {
                        <p class="text-center">Ready in: @Model.Buildings.MinutesLeftToBuild minutes!</p>
                        <p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: 75%"></div>
                            </div>
                        </p>
                    }
                    else
                    {
                        <p>Level @Model.Buildings.CrystalExtractorLevel</p>
                        <p>
                            <div class="progress">
                                <div class="progress-bar" style="width: @(Model.Buildings.CrystalExtractorLevel * 10)%;"></div>
                            </div>
                        </p>
                    }
                    @Html.ActionLink("Details", "CrystalExtractor", "Buildings", new { area = "Planet" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        @Html.ActionLink("Metal Scrapper", "MetalScrapper", "Buildings", new { area = "Planet" }, null) - <small>Level @Model.Buildings.MetalScrapperLevel</small>
                    </h6>
                </div>
                <div class="panel-body text-center">
                    <img src="~/Images/300xX/metal-scrapper.png" alt="Resource Building" class="small-img-200" />
                    <hr />
                    @if (@Model.Buildings.CurrentlyBuilding == "Barracks")
                    {
                        <p class="text-center">Ready in: @Model.Buildings.MinutesLeftToBuild minutes!</p>
                        <p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: @Model.Buildings.PercentsBuilt%"></div>
                            </div>
                        </p>
                    }
                    else
                    {
                        <p>Level @Model.Buildings.MetalScrapperLevel</p>
                        <p>
                            <div class="progress">
                                <div class="progress-bar" style="width: @(Model.Buildings.MetalScrapperLevel * 10)%;"></div>
                            </div>
                        </p>
                    }
                    @Html.ActionLink("Details", "MetalScrapper", "Buildings", new { area = "Planet" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <h4>Technologies</h4>
    <hr />
    <div class="row">

    </div>
    <br />
    <h4>Fleet</h4>
    <hr />
    <div class="row">

    </div>
</div>