<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/public")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Galaxy Storm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/"><i class="ion-planet size-18"> </i> Planet <b class="caret"></b></a></li>
                        <li><a href="/"><i class="ion-jet size-18"> </i> Fleet</a></li>
                        <li><a href="/"><i class="ion-ios-ionic-outline size-18"> </i> Shard</a></li>

                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admiral"))
                    {
                        <li><a href="/AdmiralsQuarters/Home"><i class="ion-settings size-18"> </i> Admiral</a></li>
                    }

                    <li><a href="/"><i class="ion-ios-information-empty size-18"> </i> Info</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div style="position: absolute; left: 0; right: 0; z-index: 2; width: 100%; margin: 0 auto; text-align: center;">
            <div style="background-color: #222; padding: 5px 0;
    width: 300px;
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
    margin: auto;
    border: 1px solid;
    border-top: 0;
    border-color: #101;
    position: relative">
                <div class="border-left-sharp"></div>
                <button class="btn btn-warning">
                    E:
                    <i class="ion-ios-sunny-outline size-18"> </i> 250
                </button>
                <button class="btn btn-danger">
                    C:
                    <i class="ion-ios-flower-outline size-18"> </i> 250
                </button>
                <button class="btn btn-primary">
                    M:
                    <i class="ion-ios-cog-outline size-18"> </i> 250
                </button>
                <div class="border-right-sharp"></div>
            </div>
        </div>
    </div>

    <!-- loader -->
    <div id="site-loader">
        <div class="loader"></div>
    </div>
    <!-- loader -->

    <div id="site-wrap">

        <div id="bg">
            <div id="img"></div>
            <div id="overlay"></div>
            <canvas id="js-canvas"></canvas>
        </div>

        <div class="container body-content">
            @RenderBody()

            <footer>
                <hr />
                <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")
    @RenderSection("scripts", required: false)
</body>
</html>