<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/public")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Galaxy Storm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/">Planet <b class="caret"></b></a></li>
                        <li><a href="/">Fleet</a></li>
                        <li><a href="/">Shard</a></li>

                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admiral"))
                    {
                        <li><a href="/AdmiralsQuarters/Home"><span class="glyphicon glyphicon-king"></span> Admiral</a></li>
                    }

                    <li><a href="/"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div style="position: absolute; left: 0; right: 0; z-index: 2; width: 100%; margin: 0 auto; text-align: center;">
            <div style="background-color: #333;padding: 5px 0">
                <button class="btn btn-warning">
                    E:
                    <span class=""> 250</span>
                </button>
                <button class="btn btn-danger">
                    C:
                    <span class=""> 250</span>
                </button>
                <button class="btn btn-primary">
                    M:
                    <span class=""> 250</span>
                </button>
            </div>
        </div>
    </div>

    <!-- loader -->
    <div id="site-loader">
        <div class="loader"></div>
    </div>
    <!-- loader -->

    <div id="site-wrap">

        <div id="bg">
            <div id="img"></div>
            <div id="overlay"></div>
            <canvas id="js-canvas"></canvas>
        </div>

        <div class="container body-content">
            @RenderBody()

            <footer>
                <hr />
                <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")
    @RenderSection("scripts", required: false)
</body>
</html>